.idea
git add -f bower_components/jquery/jquery.js
git add -f bower_components/bootstrap/dist/js/bootstrap.js
git add -f bower_components/ember/index.js
git add -f bower_components/ember-states/index.js
git add -f bower_components/ember-data/index.js
git add -f bower_components/handlebars/handlebars.js
bower_components/
