<div class="row">
    <div class="col-lg-1 col col-number">1</div>
    <div class="col-lg-1 col col-assig">1</div>
    <div class="col-lg-1 col col-status">1</div>
    <div class="col-lg-9 col col-title"><div><a href="#/issue/{{id}}">{{subject}}</a></div><div></div></div>


</div>

