<h2>Issue</h2>

<form {{action save on="submit"}}>
  
  <p>
    <label for="subject">Subject</label><br>
    {{view Ember.TextField valueBinding="subject" id="subject"}}
  </p>
  
  <p>
    <label for="status">Status</label><br>
    {{view Ember.TextField valueBinding="status" id="status"}}
  </p>
  
  <p>
    <button type="submit">Save</button>
  </p>

</form>

