<h2>Issues</h2>

{{#linkTo "new_issue"}}New Issue{{/linkTo}}

<table>
  <thead>
    <th>subject</th>
    <th>status</th>
  </thead>
  <tbody>
    {{#each issue in controller}}
    <tr>
      <td>{{ issue.subject }}</td>
      <td>{{ issue.status }}</td>
      <td>{{#linkTo "issue" issue }}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


